Repository discordexperimenthub/assyst-tags, pull requests merged in 2023-05, with the labels that each got.

#3 Fix server must NOT mistake & add real server must
  experiment-rollout.js
Labels: typo

#5 fix clyde rollout and update markdown rollout
  experiment-rollout.js
Labels: scripts:experiment-rollout

#6 MPA and HSE gets priority too
  experiment-rollout.js
Labels: scripts:experiment-rollout

#8 Fixed Mistakes And Made It More Clear (Typo)
  experiment-rollout.js
Labels: typo, scripts:experiment-rollout

#10 Update experiment-rollout.js
  experiment-rollout.js
Labels: new feature, scripts:experiment-rollout

#11 Update experiment-rollout.js
  experiment-rollout.js
Labels: typo, scripts:experiment-rollout

#12 add 6 new features
  experiment-rollout.js
Labels: new feature, scripts:experiment-rollout

#13 Update experiment-rollout.js
  experiment-rollout.js
Labels: typo, scripts:experiment-rollout

#14 fix requirement type of `automod_profile`
  experiment-rollout.js
Labels: scripts:experiment-rollout

#17 remove `automod_profile`
  experiment-rollout.js
Labels: scripts:experiment-rollout, remove feature

#18 New Markdown Info
  experiment-rollout.js
Labels: update feature, scripts:experiment-rollout

#21 Update experiment-rollout.js
  experiment-rollout.js
Labels: update feature, scripts:experiment-rollout

#22 - MPA/HSE, + Sub-Enabled server owners from priority and re-order
  experiment-rollout.js
Labels: update feature, scripts:experiment-rollout

#24 fix maximum bytes
  experiment-rollout.js
Labels: bug, scripts:experiment-rollout

#25 Jamspace Timestamp Correction
  experiment-rollout.js
Labels: update feature, scripts:experiment-rollout
